body {
    padding: 40px;
}

#post-write-form {
    position: relative;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

#post-write-form #submit {
    width: 100%;
}

#post-write-form .form-check {
    position: absolute;
    top: 0;
    right: 0;
}