<!DOCTYPE HTML>
<html th:replace="~{layout/layout :: layout ('글 목록', ~{::section}, false, ~{::a})}">
<body>
<a th:href="@{/post/new}" class="nav-link">글 쓰기</a>
<section>
    <div id="search-container" class="input-group">
        <select id="search-condition-list" class="form-select" aria-label="search classification">
            <option value="title" th:selected="${searchInfo.searchOption == 'title'} ? true : false">제목</option>
            <option value="nickname" th:selected="${searchInfo.searchOption == 'nickname'} ? true : false">닉네임</option>
        </select>
        <input id="search-word" th:value="${searchInfo.searchWord}" class="form-control mr-sm-2" type="search" placeholder="검색어를 입력하세요." aria-label="search">
        <span class="material-symbols-outlined input-group-text" onclick="filterPost()">search</span>
    </div>
    <span th:if="${searchInfo.isFiltered}" th:text="${postMap.size()} ? '검색 결과 총 ' + ${postMap.size()} + '개의 글을 찾았습니다.' : '검색 결과가 없습니다.'"></span>
    <div id="post-list-container">
        <table id="post-list-table" class="table table-bordered">
            <thead>
            <tr>
                <td>제목</td>
                <td>닉네임</td>
                <td>본문</td>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="id : ${postMap.keySet()}" th:class="${postMap.get(id).isImportant}? 'important' : _" th:onclick="|getPost(${id})|">
                <td th:text="${postMap.get(id).title.length() <= 20} ? ${postMap.get(id).title} : ${postMap.get(id).title.substring(0,21) + '...'}"></td>
                <td th:text="${postMap.get(id).nickname}"></td>
                <td th:text="${postMap.get(id).content.length() <= 25} ? ${postMap.get(id).content} : ${postMap.get(id).content.substring(0, 26) + '...'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="page-container">
        <span th:each="page : ${pageList}" th:text="${page}" th:onclick="|getPostOnPage(${page})|"></span>
    </div>
</section>
</body>
</html>