<!DOCTYPE HTML>
<html th:replace="~{/layout/layout :: layout ('글 목록', ~{::section}, false, ~{::a})}">
<body>
<a th:href="@{/post/new}" class="nav-link">글 쓰기</a>
<section>
    <table id="post-list-table" class="table table-bordered">
        <thead>
            <tr>
                <td>제목</td>
                <td>닉네임</td>
                <td>본문</td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="id : ${postMap.keySet()}" th:class="${postMap.get(id).isImportant}? 'important' : _" th:onclick="|getPost(${id})|">
                <td th:text="${postMap.get(id).title.length() <= 20} ? ${postMap.get(id).title} : ${postMap.get(id).title.substring(0,21) + '...'}"></td>
                <td th:text="${postMap.get(id).nickname}"></td>
                <td th:text="${postMap.get(id).content.length() <= 25} ? ${postMap.get(id).content} : ${postMap.get(id).content.substring(0, 26) + '...'}"></td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>