<!DOCTYPE HTML>
<html th:replace="~{/layout/layout :: layout ('글 목록', ~{::section}, false, ~{::a})}">
<body>
<a th:href="@{/post/new}" class="nav-link">글 쓰기</a>
<section>
    <table id="post-list-table" class="table table-bordered">
        <thead>
            <tr>
                <td>제목</td>
                <td>닉네임</td>
                <td>본문</td>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr th:each="post : ${postList}" th:class="${post.isImportant}? 'important'">
                <td th:text="${post.title.length() <= 20} ? ${post.title} : ${post.title.substring(0,21) + '...'}"></td>
                <td th:text="${post.nickname}"></td>
                <td th:text="${post.content.length() <= 25} ? ${post.content} : ${post.content.substring(0, 26) + '...'}"></td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>