<!DOCTYPE html>
<html th:replace="~{/layout/layout :: layout ('글 쓰기', ~{::section}, true, null)}">
<body>
<a th:href="@{/post/new}" class="nav-link">글 쓰기</a>
<section>
    <form id="post-write-form" th:action="@{/post}" th:object="${postSaveForm}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">타이틀</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" class="form-control" id="nickname" name="nickname" th:value="${autoCompleteNickname}">
    </div>
        <div class="mb-3">
            <label for="content" class="form-label">본문</label>
            <textarea rows="13" class="form-control" id="content" th:field="*{content}"></textarea>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isImportant" th:field="*{isImportant}">
            <label class="form-check-label" for="isImportant">
                중요
            </label>
        </div>
        <button id="submit" type="submit" class="btn btn-primary">저장</button>
    </form>
</section>
</body>
</html>